<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS Monitor</title>
</head>
<body>
    {{ if gt (len .Posts) 0 }}
        <h1>New Posts from {{ .Date }}</h1>
        <ul>
        {{ range .Posts }}
            <li>{{ .Title }} | <a href="{{ .Link }}" >{{ .Link }}</a></li>
        {{- end }}
        </ul>
    {{ else }}
        <h1>No New Posts from {{ .Date }}</h1>
    {{ end }}
</body>
</html>